h2 {
  color: #666565;
}

.top-controls {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  width: 100%;
}

.logo {
  margin: 2%;
  margin-left: 15%;
}

.title {
  margin-top: 3%;
  margin-left: 22%;
}
