.cell {
  width: 25%;
  height: 25%;
  border: 1px solid;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selected {
  filter: brightness(50%);
}

.side {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.red {
  background-color: #DD001D;
}

.orange {
  background-color: #FFB486;
}

.green {
  background-color: #D5FFE0;
}

.blue {
  background-color: #114089;
}

.yellow {
  background-color: #FCD72C;
}

.white {
  background-color: #ffffff;
}

.text {
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  display: flex;
  border: 2px solid;
  font-size: 26px;
  box-sizing: border-box;
  font-weight: bold
}

.cellImg {
  width: 60%;
  height: 60%;
}