<div class="side">
<div *ngIf='showText; else showCells' class="text" [ngClass]="side.color">
  <p>
      {{side.text}}
  </p>
  </div> 
  <ng-template #showCells>
    <ng-container *ngFor="let row of side.cells; let x_index = index">
          <div *ngFor="let cell of row; let y_index = index" class="cell"
          [class.selected]="cell.isSelected(x_index, y_index, side)"
          [ngClass]="cell.color"
          (click)="select(x_index, y_index)">
          <img *ngIf="cell.text" [src]="cell.getImage(side)" class="cellImg">        
        </div>
    </ng-container>
</ng-template>
</div>
