 <div class="container">
  <div class="description" *ngIf="cell && cell.json">
    <h3>{{cell.json.title}}</h3>
    <p ALIGN=JUSTIFY>{{cell.json.desc}}</p>
    <div *ngIf="cell.json.frameworks">
      <h4>Frameworks: </h4>
      <app-carousel [data]="cell.json.frameworks" [base]="getBaseToCarousel('frameworks')"></app-carousel>
    </div>
    <div *ngIf="cell.json.services">
      <h4>Servicios: </h4>
      <app-carousel [data]="cell.json.services" [base]="getBaseToCarousel('services')"></app-carousel>
    </div>
    <div *ngIf="cell.json.libraries">
      <h4>Librerías: </h4>
      <app-carousel [data]="cell.json.libraries" [base]="getBaseToCarousel('libraries')"></app-carousel>
    </div>
  </div>
</div>