/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Nunito');
html, body {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #ECE9E6, #FFFFFF, #FFFFFF);
  margin: 0;
}
html * {
  font-family: 'Nunito', sans-serif;
}

.slick-track{
  display:flex !important;
  align-items:center;
}